@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Sans:wght@300;400;500&display=swap');

html {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  --background-color: hsl(0, 0%, 98%);
}

body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(1) rotate(90)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 95%, 1)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='0.5' stroke='hsla(0, 0%, 88%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-0.564)' fill='url(%23a)'/></svg>")
}

#main-content {
  width: 40rem;
  max-width: 95%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form#create-task-form {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
  background-color: var(--background-color);
}
form#create-task-form label{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  font-weight: 500;
  padding-bottom: 1rem;
}
form#create-task-form label[for='new-task-priority'],
form#create-task-form label[for='new-task-date'] {
  flex: 1 45%;
}
form#create-task-form label[for='new-task-priority'] {
  padding-right: .5rem;
}
form#create-task-form label[for='new-task-date'] {
  padding-left: .5rem;
}
@media screen and (max-width: 364px) {
  form#create-task-form label[for='new-task-priority'],
  form#create-task-form label[for='new-task-date'] {
    padding-right: 0;
    padding-left: 0;
    flex: 1 100%;
  }
}
form#create-task-form label > select,
form#create-task-form label > textarea,
form#create-task-form label > input {
  display: block;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0.25rem;
}
form#create-task-form label > select,
form#create-task-form label > input {
  height: 2rem;
}
form#create-task-form label > textarea {
  height: 5.25rem;
}

textarea.description_edit {
  font-family: 'Fira Code', monospace;
}

select, input, textarea {
  font-weight: 300;
}
form#create-task-form input[type='submit'] {
  flex: 1 100%;
  padding: .33rem;
}


/* Sorting Controls */
.list-sorter-control {
  margin-bottom: 1rem;
}
.list-sorter-buttons {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content:left;
}
.list-sorter-buttons button {
  margin-left: 1rem;
  font-weight: 300;
  border: none;
  padding: .25rem .75rem;
}
.list-sorter-buttons button.active {
  background-color: hsl(0, 0%, 45%);
  color: white;
}
.list-sorter-buttons button.active.ascending::after {
  content: "↑";
  margin-left: 0.5rem;
}
.list-sorter-buttons button.active.descending::after {
  content: "↓";
  margin-left: 0.5rem;
}

@media screen and (max-width: 675px) {
  .list-sorter-buttons {
    display: flex;
    flex-flow: row wrap;
  }
  .list-sorter-buttons button {
    margin: .5rem 1rem 0 0;
    font-weight: 300;
  }
  .list-sorter-buttons button:last-child {
    margin-right: 0;
    font-weight: 300;
  }
}


ul#tasks{
  padding: 0;
  margin: 0;
}
li.to-do {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: var(--color-priority, lightgray);
}

li.to-do .to-do-title {
  width: 100%;
  display: grid;
  grid: "grab priority title date left-icon right-icon"
        / auto 8rem 1fr 9rem auto auto;
  height: 2rem;
}

@media screen and (max-width: 675px) {
  li.to-do .to-do-title {
    height: auto;
    grid: "grab title     title     title left-icon right-icon" auto
          ".    priority  priority  date  date      date" 2rem
          / auto 1fr auto auto auto auto;
  }
}
.to-do-title .move-icon {
  grid-area: grab;
}
.to-do-title__priority {
  grid-area: priority;
  border: none;
}
.to-do-title__title {
  border: none;
  grid-area: title;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.to-do-title .save-icon,
.to-do-title .delete-icon {
  grid-area: left-icon;
}
.to-do-title .cancel-icon,
.to-do-title .edit-icon {
  grid-area: right-icon;
}
.to-do-title__date {
  border: none;
  grid-area: date;
}

li.to-do .to-do-title > div {
  padding: 0.45rem .3rem;
}
li.to-do .to-do-title > img {
  align-self: center;
}
li.to-do .to-do-description {
  margin-left: 1.25rem;
  padding: 0.3rem;
  background-color: var(--background-color);
  border: none;
}

form#create-task-form,
li.to-do,
.list-sorter-buttons button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}
