@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Sans:wght@300;400;500&display=swap');

html {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

#main-content {
  width: 40rem;
  max-width: 95%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form#create-task-form {
  display: flex;
  flex-flow: row wrap;
}
form#create-task-form label{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  font-weight: 500;
  padding-bottom: 1rem;
}
form#create-task-form label[for='new-task-priority'],
form#create-task-form label[for='new-task-date'] {
  flex: 1 45%;
}
form#create-task-form label[for='new-task-priority'] {
  padding-right: .5rem;
}
form#create-task-form label[for='new-task-date'] {
  padding-left: .5rem;
}
@media screen and (max-width: 364px) {
  form#create-task-form label[for='new-task-priority'],
  form#create-task-form label[for='new-task-date'] {
    padding-right: 0;
    padding-left: 0;
    flex: 1 100%;
  }
}
form#create-task-form label > select,
form#create-task-form label > textarea,
form#create-task-form label > input {
  display: block;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0.25rem;
}
form#create-task-form label > select,
form#create-task-form label > input {
  height: 2rem;
}
form#create-task-form label > textarea {
  height: 5.25rem;
}

textarea.description_edit {
  font-family: 'Fira Code', monospace;
}

select, input, textarea {
  font-weight: 300;
}
form#create-task-form input[type='submit'] {
  flex: 1 100%;
  padding: .33rem;
}

ul#tasks{
  padding: 0;
  margin: 0;
}
li.to-do {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: var(--color-priority, lightgray);
}

li.to-do .to-do-title {
  width: 100%;
  display: grid;
  grid: "grab priority title date left-icon right-icon"
        / auto 8rem 1fr 9rem auto auto;
  height: 2rem;
}

@media screen and (max-width: 720px) {
  li.to-do .to-do-title {
    height: auto;
    grid: "grab title     title     title left-icon right-icon" auto
          ".    priority  priority  date  date      date" 2rem
          / auto 1fr auto auto auto auto;
  }
}
.to-do-title .move-icon {
  grid-area: grab;
}
.to-do-title__priority {
  grid-area: priority;
  border: none;
}
.to-do-title__title {
  border: none;
  grid-area: title;
}
.to-do-title .save-icon,
.to-do-title .delete-icon {
  grid-area: left-icon;
}
.to-do-title .cancel-icon,
.to-do-title .edit-icon {
  grid-area: right-icon;
}
.to-do-title__date {
  border: none;
  grid-area: date;
}

li.to-do .to-do-title > div {
  padding: 0.45rem .3rem;
}
li.to-do .to-do-title > img {
  align-self: center;
}
li.to-do .to-do-description {
  margin-left: 1.25rem;
  padding: 0.3rem;
  background-color: rgb(245, 245, 245);
  border: none;
}
